h1 {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: justify;
}
h2 {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: justify;
}
h4 {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: justify;
}

p {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: justify;
}

h3 {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: justify;
}
