// Specific CSS for your home-page
span.ajh-title {
  font-weight: bolder;
  font-size: 30px !important;
  text-decoration: underline;
}

.videoInsert {
  /* position: absolute; */
  right: 0;
  bottom: 0;
  /* min-width: 100%; */
  /* min-height: 100%; */
  width: 100%;
  height: 85vh;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  object-fit: fill;
}

.main-movie {
  padding: 0%;
  line-height: 0;
}

.video-text {
  width: auto;
  min-width: 200px;
  height: 200px;
  padding: 20px;
  position: absolute;
  top: 60%;
  left: 70%;
  margin: -70px 0 0 -170px;
  color: whitesmoke;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-size: x-large;
}

#typed span {
  position: relative;
  z-index: 1;
  color: whitesmoke;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  font-size: x-large;
  height: 100px;
  width: 800px;
}

h1 {
  font-family: 'Perpetua--Titling--Bold';
}

p {
  font-family: 'Perpetua--Titling--Light';
}

h3 {
  font-family: 'Perpetua--Titling--Light';
}
.intro-vid {
  min-width: 100%;
}
