.project-gif {
}

.project-container {
  height: 60vh;
  background: #a4a5a7;
}
.date_project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background: #001639;
  color: whitesmoke;
  vertical-align: middle;
  font-size: x-large;
  font-family: 'Perpetua--Titling--Bold';
  font-weight: bold;
}
.project-info-pic {
  display: flex;
}

.project-content {
}

.project-logo {
}

.project-headline {
}
.project-img {
  background: #eb6f0b;
  height: 60vh;
}
