<footer class="footer-distributed">
  <div class="footer-left">
    <h3>About us</h3>
    <p class="footer-links">    <a href="/">Home</a>    |    <a href="mailto:hello@airbnboat.com">Contact</a>    </p>
    <p class="footer-company-name">© 2019 AJ Holbrook Consulting <br>
      <br>
      KvK nr.: 77544943 <br>
      BTW nr.: NL 0032.07.185B86</p>
  </div>
  <div class="footer-center">
    <div>    <i class="fa fa-map-marker"></i>
      <p><span>Ruysdaelkade 257c</span>   1072AZ Amsterdam, The Netherlands</p>
    </div>
    <div>    <i class="fa fa-phone"></i>
      <p>+31 6 52 71 6848</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@Airbnboat.com">support@ajhconsulting.net</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>About AJH Consulting</span>
      Offering consultancy services in the expertise of Account Management, Sales, Recruitment and Web-Development.</p>
    <div class="footer-icons">    <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</footer>
