<div class="container-carousel col-sm-12">
  <div class="gray-box col-sm-6 offset-sm-3">
    <div id="carouselExampleSlidesOnly" class="carousel slide my-3" data-ride="carousel">
      <div class="carousel-inner">
        <% @reviews.each_with_index do | review, index|  %>
          <div class=" carousel-item <% if index == 0 %> active <% end %>">
            <div class="d-block w-100 container-carousel" alt="First slide">
              <img src="" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h4><%= review.content %> </h4>
                <p><%= review.user.first_name %> </p>
                <p> <%= review.user.company %></p>
              </div>
            </div>
          </div>
        <% end	 %>
      </div>
    </div>
  </div>
</div>
<script>
  $('.carousel').carousel()
</script>
