<div class="container">
  <div class="banner" style="">
    <h1>AJH Consulting </h1>
    <p>I AM A PLACEHOLDER.</p>
    <!--<a class="btn btn-flat" href="/projects/new">New Project Request</a> -->
  </div>
</div>
