<div class="col-sm-12 main-movie">
  <%= cl_video_tag("Addison_xzxj89", class: "videoInsert", loop: true, autoplay: true, poster: true, muted: true,
  fallback_content: "Your browser does not support HTML5 video tags" )  %>
</div>
<div class="video-text">
  <span id="typed"></span>
</div>
<script>
  $( document ).ready(function() {
     var typed = new Typed('#typed', {
     strings:["<strong>Your Partner</strong> ^1000 <br>In End-to-End Innovation.","More ^1000 Than Just <br><strong>Giving Advice.</strong>","Quick Access For Tasks ^1000 <br><strong>Worldwide.</strong>","<span class='ajh-title'>AJH Consulting^200.^200.^200.</span>^1500 <br>Where Creativity Meets Logic.^10000"],
     typeSpeed: 20,
     backSpeed: 40,
    loop: true
    });
  });
</script>
