<div class="col-sm-12 banner">
  <h2> LEFT BRAIN MEETS RIGHT BRAIN
  </h2>
  <div class="line">
    &nbsp;
  </div>
  <h5>It's what makes AJH Consulting
  </h5>
</div>
<div class="col-sm-12 info-main">
  <div class="col-sm-6 main-text">
    <p>
      <strong>    Your Partner in End-to-End Innovation.</strong>
    </p>
  </div>
  <div class="col-sm-6 sub-text">
    <p>
      AJH is an integrated consulting Account Management, Sales, Recruitment and Web-Development. that builds relationships and experiences people love. Powered cooperation and design-led innovation we deliver end-to-end experiences to help businesses grow. From creative brands and websites to international development, we work with you from strategy to execution to create what's needed and next.
    </p>
  </div>
</div>
<div class="col-sm-12 banner">
  <h2>Consulting Is More Than Giving Advice
  </h2>
  <div class="line">
  </div>
  <h5>Achieving your objectives to gain advantage requires experience and foresight. Make the best decisions to move your business forward with confidence.
  </h5>
</div>
<div class="col-sm-12 info-main">
  <div class="col-sm-6 sub-text">
    <p>
      Our strategic advice is constantly aimed at sustainable growth for you and your employees, but also for your customers. We work with you to determine how you can serve them even better, enable them to grow and, ultimately, allow both your social and commercial revenue to obtain a much higher level.
    </p>
  </div>
  <div class="col-sm-6 main-text">
    <p><strong>Strategy</strong>
    </p>
  </div>
</div>
<div class="col-sm-12 banner">
  <h2>A Hierarchy of Purposes
  </h2>
  <div class="line">
  </div>
  <h5>At AJH our approach is to view the process as a sequence of phases—entry, contracting, diagnosis, data collection, feedback, and implementation.
  </h5>
</div>
<div class="col-sm-12 info-main">
  <div class="col-sm-6 main-text">
    <p>
      <strong>Hierarchy of AJH Consulting</strong>
    </p>
  </div>
  <div class="col-sm-6 sub-text">
    <ol>
      <li> Providing information to a client.
      </li>
      <li> Sliving a client’s problems.
      </li>
      <li> Making a diagnosis, which may necessitate redefinition of the problem.
      </li>
      <li>
        Making recommendations based on the diagnosis.
      </li>
      <li>
        Assisting with implementation of recommended sliutions.
      </li>
      <li>
        Building a consensus and commitment around corrective action.
      </li>
      <li>Facilitating client learning—that is, teaching clients how to reslive similar problems in the future.
      </li>
      <li>
        Permanently improving organizational effectiveness.
      </li>
    </ol>
  </p>
</div>
</div>
