<%= render 'top_vid' %>
<%= render 'shared/navbar' %>
<%= render 'banner' %>
<div class="reviews-main">
  <div class="reviews-actual">
    <h1>i am testimonials</h1>
  </div>
</div>
<%= render 'banner' %>
