<div class="col-sm-12 sticky-container">
  <div class="float-left">
    <%= link_to "Propose Project", new_project_path, class: "btn btn-ghost" %>  </div>
  <div class="float-right">
    <a class="btn btn-ghost" href="https://calendly.com/addisonajh/30min">Plan a Meeting?</a>
  </div>
</div>
