  <%= render 'top' %>
<div class="project_container">
  <% @projects.each do |project| %>
    <%= render 'date_project', project:project %>
    <%= render 'card_project', project:project  %>
    <%= render 'picture_project', project:project  %>
  <% end %>
</div>
