.carousel-caption {
}

.gray-box {
  height: 200px;
  width: 400px;
  background: gray;
  border-radius: 15px;
}

// <div class="carousel-caption d-none d-md-block">
//                 <h4>great time was fun </h4>
//                 <p>bob </p>
//                 <p> </p>
//               </div>
// gray box push up?

// use inspect
