@font-face {
  font-family: 'Perpetua--Titling--Light';
  color: whitesmoke;
}

.navbar-lewagon {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px 10px;
  transition: 0.4s;
  justify-content: center;
  background: #001639;
  color: whitesmoke;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: whitesmoke;
}

.navbar-brand {
  margin: auto;
  padding: 18px;
}
.navbar-lewagon .navbar-brand img {
  width: 100px;
  color: whitesmoke;
  margin-left: 20px;
  margin-right: 20px;
  border-left-width: 7px;
  border-right-width: 7px;
  padding-left: 9px;
  padding-right: 9px;
  border-left: double;
  border-right: double;
  border-color: whitesmoke;
}

.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
  justify-content: center;
  display: inline-block;
}
.nav-link:hover {
  background-color: gray;
}

li.nav-item {
  margin: auto;
  padding: 18px;
  text-emphasis: bold;
}

a.nav-link {
  border-left: double;
  border-right: double;
  border-color: whitesmoke;
}

.nav-item-right {
  margin: auto;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
}
a.nav-link.right {
  border-right: none;
  border-left: none;
}
w
.nav-wolf {
  display: block;
  position: absolute;
  left: 20px;
  top: 70px;
}
.nav-wolf img {
  height: 10vh;
  clip-path: circle(39%);
}
