<!--
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  reviews.each { |review| review.text
  review.first_name
  review.company
  end	
  <div class="carousel-item active">
    <img class="d-block w-100" src="..." alt="First slide">
  </div>
</div>
</div> -->
<div class="col-sm-12 review-main">
  <div class="col-sm-8 review">
    <div class="review-info">
      <div class="review-text">
        <div class="review-name-company">
          <div class="review-name">
            <div class="review-company">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
